apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: ci-cd
spec:
  type: NodePort
  selector:
    app: nginx-app
    type: front-end
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30011
---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: ci-cd
  labels:
    app: nginx-app
    type: front-end
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-app
      type: front-end
  template:
    metadata:
      labels:
        app: nginx-app
        type: front-end
    spec:
      containers:
        - name: nginx-container
          image: alan769/nginx:{{tag}}
          ports:
          - containerPort: 80

---

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
  name: nginx-deployment
  namespace: ci-cd
spec:
  ingressClassName: haproxy
  rules:
  - host: cicdnginx.dev.adviseu-it.com
    http:
      paths:
      - backend:
          service:
            name: nginx-service
            port:
              number: 80
        path: /
        pathType: ImplementationSpecific
