apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: ci-cd
spec:
  type: NodePort
  selector:
    app: nginx-app
    type: front-end
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30011
---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: ci-cd
  labels:
    app: nginx-app
    type: front-end
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-app
      type: front-end
  template:
    metadata:
      labels:
        app: nginx-app
        type: front-end
    spec:
      containers:
        - name: nginx-container
          image: alan769/nginx:{{tag}}
